/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: var(--font);

  list-style: none;
}

:root{
  --bg-color: #FFF;
  --img-border-color: #D2D2D6;
  --img-border-color-hover: #D2D2D6B9;
  --txt-color: #000;
  --menu-black-bg: #000000BE;
  --alternative-color: #0066cc;
  --font: 'San Francisco', sans-serif;
}

html, body{
  background-color: var(--bg-color);

  width: 100%;
  height: auto;
  min-height: 100vh;

  font-size: 1rem;
}

button{
  cursor: pointer;

  background: none;
}

label{
  cursor: pointer;
}

img{
  vertical-align: top;
}

a{
  text-decoration: none;

  color: var(--alternative-color);
}

.input-radio{
  appearance: none;
  position: absolute;
}

.container{
  width: min(100%, 64rem);

  margin-inline: auto;
  padding-inline: 2rem;
}

/* HEADER */
.header{
  width: 100%;
}

.header__navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 85%;

  font-size: .875rem;
}

.navigation__link{
  color: var(--txt-color);
  &:hover{
    text-decoration: underline;
  }
}

.navigation__buttons{
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

#openMenu, #menuBlackBg, .menu{
  display: none;
}

/* MAIN */
.main{
  width: 100%;

  margin-top: 3rem;
}

.main__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'prodOpt imgPrev'
  'boxSize imgPrev'
  'prodOth imgPrev';
}

/* MAIN PRODUCT OPTIONS */
.main__product-options{
  grid-area: prodOpt;
}

.main__product-options > div{
  margin-bottom: 2rem;
}

.product-options__name{
  max-width: 25rem;
}

.product-options__price-info{
  margin-top: 1rem;
}

.product-options__price-info > p{
  font-size: .75rem;
  line-height: 1.5;
}

p.price-info__price{
  font-size: 1rem;
}

.price-info__parcel{
  color: var(--alternative-color);
}

.price-info__parcel > span{
  margin-right: .3rem;
}

.colors__list{
  display: flex;
  gap: 1rem;

  margin: 1.1rem 0 1rem 0;
}

.colors__item label{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.625rem;
  height: 2.625rem;
}

.colors__item input[type="radio"]:checked + label{
  border-radius: 50%;
  border: .125rem solid var(--alternative-color);
}

.colors__item img{
  width: 2rem;

  border-radius: 50%;
}

.colors__carbon-neutral{
  width: 6.8rem;
}

/* MAIN BOX SIZE */
.main__box-size{
  grid-area: boxSize;

  margin-bottom: 2rem;
}

.main__box-size > p{
  font-size: .85rem;
}

.main__box-size > span{
  opacity: .5;

  font-size: .75rem;
}

.main__box-size > h3:nth-child(5){
  margin-bottom: .75rem;
}

.box-size__input-group{
  width: 20rem;

  display: flex;
  gap: 1rem;

  margin-block: .75rem;
}

.box-size__input-group label{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;

  height: 5rem;

  border: .063rem solid var(--txt-color);
  border-radius: .625rem;

  font-weight: bold;
  font-size: 1.1rem;
}

.box-size__input-group input[type="radio"]:checked + label{
  border: .125rem solid var(--alternative-color);
}

.box-size__know-more{
  display: inline-block;
  font-size: .85rem;
  margin-bottom: 1.25rem;
  &:hover{
    text-decoration: underline;
  }
}

/* MAIN PRODUCT OTHERS */
.main__product-others{
  grid-area: prodOth;
}

.product-others__delivery{
  margin-bottom: 1.6rem;
}

.product-others__delivery > *{
  font-size: .85rem;
  line-height: 1.5;
}

.product-others__delivery > span{
  display: flex;
  align-items: center;
  gap: .3rem;

  font-weight: bold;
}

.product-others__delivery > a:hover{
    text-decoration: underline;
}

.button-bag{
  background-color: var(--alternative-color);
  border-radius: .625rem;
  color: var(--bg-color);

  width: 80%;
  height: 2.5rem;

  font-size: 1rem;

  &:hover{
    filter: brightness(1.1);
  }
}

.product-others__time{
  margin-block: 1.6rem;
}

.product-others__time > *{
  line-height: 1.3;
}

.product-others__time > p, .product-others__time > a{
  width: 75%;

  font-size: .875rem;
}

.product-others__time > a{
  display: flex;
  align-items: center;
  gap: .3rem;

  margin-top: .5rem;
  &:hover{
    text-decoration: underline;
  }
}

/* PREVIEW */
.main__preview{
  grid-area: imgPrev;
}

.main__preview > img{
  transition: transform .3s ease-in-out;
}

.small-image{
  transform: scale(.9);
}

.preview__image-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
}

.preview__image-item > label{
  display: flex;

  width: 2.875rem;
  height: 3.25rem;
}

.preview__image-item > label > img{
  width: 100%;

  padding-bottom: .25rem;

  border-bottom: .125rem solid transparent;
  
  &:hover{
    border-color: var(--img-border-color-hover);
  }
}

.preview__image-item input[type="radio"]:checked + label > img{
  border-bottom: .125rem solid var(--img-border-color);
}

/* RESPONSIVIDADE */
@media screen and (max-width: 1023px) {
  /* HEADER AND MENU */
  .navigation__list{
    display: none;
  }

  #openMenu{
    display: block;
  }

  #menuBlackBg{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    cursor: pointer;

    background-color: var(--menu-black-bg);
  }

  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);

    background-color: var(--bg-color);
    
    width: 45vw;
    height: 100vh;

    display: block;

    padding-inline: 2rem;

    transition: transform .3s ease-in-out;

    overflow-y: auto;
  }

  .open-menu{
    transform: translateX(0%);
  }

  .menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1.5rem;
  }  

  .menu__navigation-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    font-size: 1.25rem;
  }

  /* MAIN */
  .main__content{
    grid-template-columns: 1fr;
    grid-template-areas: 
    'prodOpt'
    'imgPrev'
    'boxSize'
    'prodOth';
  }
  
  .main__product-options{
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-options__price-info > p,
  .product-options__box-size > p,
  .main__box-size > p,
  .box-size__know-more,
  .product-others__delivery > *,
  .product-others__time > p,
  .product-others__time > a{
    font-size: 1rem;
  }

  p.price-info__price{
    font-size: 1.25rem;
  }

  .main__box-size{
    text-align: center;

    margin-top: 2rem;
  }

  .main__box-size > span{
    font-size: .875rem;
  }

  .box-size__input-group{
    margin-inline: auto;
  }

  .product-others__delivery{
    text-align: center;
  }

  .product-others__delivery > span {
    justify-content: center;
  }

  .button-bag{
    display: block;

    width: 18.75rem;

    margin-inline: auto;
  }

  .product-others__time{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .product-others__time > a{
    justify-content: center;
    text-align: left;
  }
  
  .main__preview{
    justify-self: center;

    text-align: center;
  }

  .main__preview > img{
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .container{
    padding-inline: 1rem;
  }
  
  .menu{
    width: 100vw;

    padding-inline: 1rem;
  }
}